.vanish{
    display: none;
}

section {
    height: 1050px;
}


@-webkit-keyframes arrow-moveIn {
    50% {opacity:1;-webkit-transform:translateX(35px);transform:translateX(35px);}
    100% {opacity:1;-webkit-transform:translateX(35px);transform:translateX(35px);}
}

@keyframes arrow-moveIn {
    50% {opacity:1;-webkit-transform:translateX(35px);transform:translateX(35px);}
    100% {opacity:1;-webkit-transform:translateX(35px);transform:translateX(35px);}
}
@-webkit-keyframes arrow-moveOut {
    50% {opacity:0;-webkit-transform:translateX(35px);transform:translateX(35px);}
    100% {opacity:0;-webkit-transform:translateX(35px);transform:translateX(35px);}
}
@keyframes arrow-moveOut {
    50% {opacity:0;-webkit-transform:translateX(35px);transform:translateX(35px);}
    100% {opacity:0;-webkit-transform:translateX(35px);transform:translateX(35px);}
}

/*off*/
.arrow {
    position: absolute;
    top: 85px;
    height: 25%;
    right: 0;
    width: 140px;
}
#square path,
#circle path,
.arrow-out,
.arrow-in {fill:none;stroke:#fff;stroke-width:2;stroke-miterlimit:10;}
.arrow-in {opacity:0;}


/*on*/
.arrow:hover .arrow-out {-webkit-animation:arrow-moveOut 1s ease infinite;animation:arrow-moveOut 1s ease infinite;}
.arrow:hover .arrow-in {-webkit-animation:arrow-moveIn 1s ease infinite;animation:arrow-moveIn 1s ease infinite;}

.arrow.right {-webkit-transform:scaleX(-1);transform:scaleX(-1);position: absolute;
    top: 85px;
    height: 25%;
    left: 0;
    width: 140px;
}




@media only screen and (max-width: 767px) {
    section {
        height: 600px;
    }
    .arrow{
        position: absolute;
        top: 0px;
        height: 19%;
        right: 0;
        width: 60px;
    }
    .arrow.right{
        position: absolute;
        top: 0;
        height: 19%;
        left: 0;
        width: 60px;
    }
}
